---
import Map from '../base/Map.astro';
import IconBlock from "@components/content/IconBlock.astro";
const { title, google, items, buttonText, buttonLink } = Astro.props;
---

<div class="py-10">
  <div class="w-full ltablet:max-w-4xl max-w-5xl mx-auto">
    <div
      class="bg-primary-900 rounded-3xl shadow-xl overflow-hidden ltablet:grid ltablet:grid-cols-2 ltablet:gap-4 lg:grid lg:grid-cols-2 lg:gap-4"
    >
      <div
        class="flex items-center pt-10 pb-12 px-3 sm:pt-16 sm:px-16 ltablet:py-12 ltablet:pr-0 lg:py-12 lg:pr-0 xl:px-12"
      >
        
        <div class="ltablet:self-center lg:self-center font-sans">
          <h2 class="text-3xl font-medium text-white sm:text-4xl">
            <span class="block">{title}</span>
          </h2>
          
          <div class="grid md:grid-cols-2 ltablet:grid-cols-2 lg:grid-cols-2 gap-y-6 pt-5" x-intersect="activeStep = ''">
            
            <div class="flex items-start">
              <div class="shrink-0">
                <div class="p-4 bg-white rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                  <i class="iconify w-7 h-7 mb-2 text-black" data-icon={items[1].icon}></i>
                </div>
              </div>
              <div class="px-3">
                <p class="font-bold text-black mb-1">{items[0].title}</p>
                {items[0].text.map((txt) => (
                  <p class="text-white">{txt}</p>
                ))}
              </div>
            </div>

            
            <div class="flex items-start">
              <div class="shrink-0">
                <div class="p-4 bg-white rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                  <i class="iconify w-7 h-7 mb-2 text-black" data-icon={items[1].icon}></i>
                </div>
              </div>
              <div class="px-3">
                <p class="font-bold text-black mb-1">{items[1].title}</p>
                {items[1].text.map((txt) => (
                  <p class="text-white">{txt}</p>
                ))}
              </div>
            </div>


          </div>

            
          {items.slice(2).map((item) => (
            <div class="flex items-start pt-5">
              <div class="shrink-0">
                <div class="p-4 bg-white rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                  <i class="iconify w-7 h-7 mb-2 text-black" data-icon={item.icon}></i>
                </div>
              </div>
              <div class="px-3">
                <p class="font-bold text-black mb-1">{item.title}</p>
                {item.text.map((txt) => (
                  <p class="text-white">{txt}</p>
                ))}
              </div>
            </div>
          ))}

          <a
            href={buttonLink}
            class="mt-8 bg-white border border-transparent rounded-xl shadow px-6 py-4 inline-flex items-center text-sm font-medium text-muted-600 hover:text-white hover:bg-primary-400 transition-colors duration-300"
          >
            {buttonText}
          </a>

          <!--
          <a
            href="https://waze.com/ul?place=ChIJi_vSqDRKHRURA1DfEs83YUY&ll=32.08399060%2C34.81881070&navigate=yes&utm_campaign=default"
            class="mt-8 bg-white border border-transparent rounded-xl shadow px-6 py-4 inline-flex items-center text-sm font-medium text-muted-600 hover:text-white hover:bg-primary-400 transition-colors duration-300"
          >
            נווט למרפאה
          </a>
           -->
        </div>
      </div>

      <div
        class="flex items-center pt-10 pb-12 px-3 sm:pt-16 sm:px-16 ltablet:py-12 ltablet:pr-0 lg:py-12 lg:pr-0 xl:px-12"
      >
        
        <iframe src={google} width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
      </div>

    </div>
  </div>
</div>
